@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}


<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Input.CardOwnerName"></label>
        <input asp-for="Input.CardOwnerName" class="form-control" />
        <span asp-validation-for="Input.CardOwnerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.CardNumber"></label>
        <input asp-for="Input.CardNumber" class="form-control" />
        <span asp-validation-for="Input.CardNumber" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.ExpirationDate"></label>
                <input asp-for="Input.ExpirationDate" class="form-control" />
                <span asp-validation-for="Input.ExpirationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.SecurityCode"></label>
                <input asp-for="Input.SecurityCode" class="form-control" />
                <span asp-validation-for="Input.SecurityCode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Input.DateOfBirth"></label>
        <input type="date" asp-for="Input.DateOfBirth" class="form-control" />
        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ProfilePicture"></label>
        <input type="file" name="file" />
        <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
    </div>
    <div class="g-recaptcha" data-sitekey="6LdIE2QeAAAAADnPppL7KVr99aH4O-JFixHKYdjZ"></div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
